.button {
  display: inline-block;
  padding: 10px 28px;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 1.25;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  border: none;
  background-color: #68b738;
  cursor: pointer;
}

@media (min-width: $tablet-width) {
  .button {
    font-size: 20px;
    line-height: 1.3;
  }
}
