.contacts__text-wrapper {
  display: flex;
  justify-content: space-between;
  gap: 17px;
  background-color: $base-color;
  padding: 26px 20px;
  max-width: 320px;
  margin: 0 auto;
}

.contacts__text-wrapper--main {
  background-color: #ffffff;
}

.contacts__title {
  font-size: 16px;
  line-height: 1.25;
  text-transform: uppercase;
  color: #111111;
}

.contacts__text {
  @include text;
  line-height: 20px;
}

.contacts__text-new-line {
  display: block;
}

.contacts__map iframe {
  border: none;
  display: block;
  max-width: 100%;
  height: 362px;
}

@media (min-width: $tablet-width) {
  .contacts__text-wrapper {
    padding: 60px 70px;
    max-width: 768px;
    margin: 0 auto;
  }

  .contacts__title {
    max-width: 220px;
    font-size: 20px;
    line-height: 1.3;
  }

  .contacts__text {
    max-width: 190px;
    text-align: right;
    line-height: 20px;
  }

  .contacts__text-new-line--first {
    margin-bottom: 18px;
  }

  .contacts__map iframe {
    height: 400px;
  }
}

@media (min-width: $desktop-width) {
  .contacts {
    position: relative;
    max-width: 1440px;
    margin: 0 auto;
  }

  .contacts__text-wrapper {
    position: absolute;
    left: 110px;
    top: 95px;
    gap: 95px;
    max-width: 565px;
    padding-left: 80px;
    padding-right: 78px;
  }

  .contacts__text {
    text-align: left;
  }

  .contacts__map iframe {
    margin: 0 auto;
  }
}
