.main-header {
  display: flex;
  flex-direction: column;
  padding: 14px 20px;
}

.main-header__logo {
  height: 38px;
}

@media (min-width: $tablet-width) {
  .main-header {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    max-width: 704px;
    margin: 0 auto;
  }

  .main-header__logo {
    height: 50px;
  }
}

@media (min-width: $desktop-width) {
  .main-header {
    max-width: 1220px;
  }

  .main-header__logo {
    height: 59px;
  }
}
