.main-footer {
  background-color: $base-color;
}

.main-footer__bottom-wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 40px 20px;
}

.main-footer__logo-link {
  display: block;
  padding-bottom: 17px;
  text-align: center;
  border-bottom: 1px solid #D9D9D9;
}

.main-footer__logo:hover,
.main-footer__logo:focus {
  fill: #3E3E3E;
}

.main-footer__logo:active {
  fill: #6B6B6B
}

@media (min-width: $tablet-width) {
  .main-footer__bottom-wrapper {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 55px 30px;
  }

  .main-footer__logo-link {
    margin: 0;
    padding-bottom: 0;
    border-bottom: none;
  }
}

@media (min-width: $desktop-width) {
  .main-footer__bottom-wrapper {
    padding: 66px 110px;
  }
}
