@mixin text {
  font-family: "Lato", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #444444;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 20px;
  }
}

@mixin list {
  margin: 0;
  padding: 0;
  list-style: none;
}
